{
  "ecmaFeatures": {
    "jsx": true,
    "classes": true,
    "arrowFunctions": true,
    "modules": true,
    "templateStrings": true,
    "blockBindings": true,
    "destructuring": true,
    "spread": true,
    "restParams": true
  },
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": 1,
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "eol-last": 1,
    "quotes": [2, "single"],
    "no-dupe-args": 1,
    "no-dupe-keys": 1,
    "no-empty": 1,
    "no-ex-assign": 1,
    "no-extra-semi": 1,
    "no-extra-boolean-cast": 1,
    "valid-typeof": 1,
    "no-unexpected-multiline": 1,
    "no-unreachable": 1,
    "no-irregular-whitespace": 1,
    "complexity": 1,
    "dot-notation": 1,
    "eqeqeq": 1,
    "guard-for-in": 1,
    "no-invalid-this": 1,
    "no-var": 1,
    "prefer-const": 1,
    "constructor-super": 1,
    "strict": 0,
    "react/display-name": [1, { "acceptTranspilerName": true }],
    "react/jsx-boolean-value": 1,
    "react/jsx-curly-spacing": 0,
    "react/jsx-max-props-per-line": 1,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/require-extension": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 1
  }
}
